
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.btn{
	border-radius: 0px;
}

body{
	background-color: $body-bg;
	font-family: "Scope One";
	font-size: 22px;
	color: $secondary;
	text-align: center;
}

h1{
	font-family: "Unica One";
    color: #fff;
    background-color: #7c1f9a;
    font-size: 79px;
    display: inline-block;
    margin: 0;
    padding: 7px 25px;

    @media screen and (max-width: 999px) {
	    font-size: 50px;
	}
}

a {
	color: $primary;
	font-family: "Unica One";
	&:hover{
		color: $primary;
	}
	&.source{
		color: #fff;
		background-color: $primary;
		padding: 10px 20px;
	}
	&.link{
		font-size: 26px;
	}
}

.navigation {
	font-size: 28px;
	margin: 20px 0;
	a{
		display: inline-block;
		margin: 0 15px;
	}
}

.main {
	position: relative
}

.content {
	padding: 25px 50px;

	.title {
		margin: 0px auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo {
		display: inline-block;
		margin: 15px;
	}

	.quote {
		margin: 15px auto 50px auto;
		&.about, &.api {
			text-align: left;
		}
	}

	.quotationmarks {
		color: $primary;
		font-size: 350px;
    	line-height: 1em;
    	@media screen and (max-width: 999px) {
		    display: none;
		}
	}

	.attribution {
		a{
			margin: 15px; 
		}
	}

}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}